{% extends "crypto_news_app/base.html" %}

{% block head_ext %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>

{% endblock %}
{% include "crypto_news_app/nav_bar.html" %}

{% block content %}
  <div class="container-md">
  {% for spider, jobs in context.items %}
    <div class="card" id={{spider}} >
      <div class="card-header">
        {{spider}}
      </div>
      <div class="card-body">
        <div class="overflow-auto" style="max-height:300px">
          <table class="table">
            <thead>
              <tr> 
                {% for key in jobs.0.keys %}
                  <td>{{key}}</td>
                {% endfor %}
              <tr> 
            </thead>
            <tbody>
              {% for job in  jobs %}
                <tr> 
                  {% for value in job.values %}
                    <td>{{value}}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
   {% endfor %}
  </div>
 
  <script>
    const socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/spider_info/'
        );
    socket.addEventListener('open', function (event) {
        socket.send({'ds':'111'});
    });

    socket.addEventListener('message', function (event) {
      var data = JSON.parse(event.data);

      create_cards(data)
     
    });

 
    function create_cards(data){
      for (var i in data){
        let card =  document.getElementById(i);
        let cardHead = document.createElement("div");
        cardHead.className='card-header';
        card_header_text = document.createTextNode(i)
        cardHead.appendChild(card_header_text)
        let cardBody = document.createElement("div");
        cardBody.classList.add('card-body');
        let overflow = document.createElement("div");
        overflow.classList.add('overflow-auto');
        overflow.setAttribute('style', 'max-height:300px');
        let tbl = document.createElement("table");
        tbl.classList.add('table');
        let tblHead = document.createElement("thead");
        let tblBody = document.createElement("tbody");
        reversedList = data[i].reverse()
        let row_head = document.createElement("tr");
        for (key in Object.keys(reversedList[0])){
          let cell = document.createElement("td");
          let cellText = document.createTextNode(Object.keys(reversedList[0])[key]);
          cell.appendChild(cellText);
          row_head.appendChild(cell);
        }
        tblHead.appendChild(row_head)
        for(var j in reversedList){
          let row = document.createElement("tr");
          for (k in reversedList[j]){
            let cell = document.createElement("td");
            let cellText = document.createTextNode(reversedList[j][k]);
            cell.appendChild(cellText);
            row.appendChild(cell);
          }
          tblBody.appendChild(row);
        }
        tbl.appendChild(tblHead);
        tbl.appendChild(tblBody);
        overflow.appendChild(tbl);
        cardBody.appendChild(overflow);
        card.innerHTML = ""
        card.appendChild(cardBody)
        card.appendChild(cardHead)
      }
    }
  window.onbeforeunload = function() {
      socket.onclose = function () {}; 
      socket.close();
    };
  </script>
{% endblock %}