{% extends "crypto_news_app/base.html" %}
{% block head_ext %}
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"
  ></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container-md">
    <form method="post" id='main-form'>
      {% csrf_token %}
      <div class="input-group mb-3">

      <p>
        <input name="day_of_week" id="day_of_week"  type="number" class="form-control" placeholder="day_of_week" aria-label="Days" aria-describedby="button-addon2">
        <input name="hour" id="hour" type="number" class="form-control" placeholder="Hour" aria-label="Hours" aria-describedby="button-addon2">
        <input name="minute" id="minute" type="number" class="form-control" placeholder="Minute" aria-label="Minutes" aria-describedby="button-addon2">
      </p>
      </div>
      {% for spider in list_of_spider %}
      <div class="row mt-1 p3">
        <div class="col-md-4">
          <div class="form-check form-switch">
            <input class="form-check-input" name=spiders type="checkbox" id="spider" value={{spider}}>
            <label class="form-check-label" for="spider">{{spider}}</label>
          </div>
        </div>
      </div>
      {% endfor %}
      <input type='submit'  id="submit_button" class="btn btn-outline-secondary">
    </form>
    <div id="error-list"></div>
  </div>
<script>
  $(document).ready(function() {
    $("#main-form").validate({
        rules: {
            day_of_week: {
                number: true,
                min: 0,
                max: 6
            },
            hour: {
                number: true,
                min: 0,
                max: 23
            },
            minute: {
                number: true,
                min: 0,
                max: 59
            },
            spiders: {
              required : true,
              minlength: 1
            }
        },
        messages: {
            day_of_week: {
                min: "Number of day_of_week must be start from 0",
                max: "Number of day_of_week must be less then 6"
            },
            hour: {
                min: "Number of hour must be start from 0",
                max: "Number of hour must be less then 23"
            },
            minute: {
                min: "Number of minute must be start from 0",
                max: "Number of minute must be less then 59"
            },
            spiders: {
              required: "check the checbox",
              minlength: "check min 1 box"
            }
        },
        submitHandler: save_data
    });
})

function save_data() {
    var token = "{{csrf_token}}";
    var day_of_week = $("#day_of_week").val();
    var hour = $("#hour").val();
    var minute = $("#minute").val();
    var spiders = [];
    $(".form-check-input:checked").each(function() {
        spiders.push($(this).val());
    });
    $.ajax({
        type: "POST",
        headers: {
            "X-CSRFToken": token
        },
        url: "{% url 'crypto_news_app:ajaxsaved' %}",
        data: {
            day_of_week: day_of_week,
            hour: hour,
            minute: minute,
            spiders: spiders
        },

        success: function(data) {
            $("#error-list").html(
                '<p style="color:green">Form Successfully Submitted</p>'
            );
            console.log(data);
        },
        error: function(data) {},
    });
}
</script>
{% endblock %}
